*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}
.password-generator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.name-group>input{
    width: 100%;
}
.generator-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f5f5f5, #e8e8e8);
    gap: 20px;
    width: 50%;
    padding: 50px;
}

.generator-btn{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
}

input{
    padding: 10px;
    color: black;
}

.generator-container>h1{
    text-align: center;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  
}

.checkbox-group input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}


.copy{
    background-color: rgb(58, 187, 58);
    width:100px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.result > p{
    color: rgb(251, 47, 47);
    margin-top: 10px;
}

.clear{
    background-color: salmon;
    width:100px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}